/* Color Palette
Licorice - 362023
Beaver - A17C6B
Feldgrau Green - 4D685A
Feldgrau Blue - 546D64
Azure - CEDFD9
*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  list-style-type: none;
  font-family: var(--default-font-family);
  font-weight: 200;
}

#root {
  background-color: #CEDFD9;
  color: #1b1b1b;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sidebar {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.sidebar-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.resume {
  display: flex;
  flex-direction: column;
}